# Question 1: Reverse List by N Elements

In [6]:
def reverse_in_groups(arr, n):
    result = []
    for i in range(0, len(arr), n):
        group = []
        for j in range(min(i + n, len(arr)) - 1, i - 1, -1):
            group.append(arr[j])
        result.extend(group)
    return result

arr = [10, 20, 30, 40, 50, 60, 70]
n = 4
print(reverse_in_groups(arr, n))

[40, 30, 20, 10, 70, 60, 50]

# Question 2: Lists & Dictionaries

In [10]:
def group_by_length(strings):
    result = {}
    for s in strings:
        result.setdefault(len(s), []).append(s)
    return dict(sorted(result.items()))

strings = ["apple", "bat", "car", "elephant", "dog", "bear"]

for length, group in group_by_length(strings).items():
    print(f"{length}: {group}")

3: ['bat', 'car', 'dog']
4: ['bear']
5: ['apple']
8: ['elephant']

# Question 3: Flatten a Nested Dictionary

In [15]:
def flatten_dict(d, parent_key=''):
    result = {}
    for key, value in d.items():
        new_key = f"{parent_key}.{key}" if parent_key else key
        if isinstance(value, dict):
            result.update(flatten_dict(value, new_key))
        elif isinstance(value, list):
            for i, item in enumerate(value):
                result.update(flatten_dict({f"{key}[{i}]": item}, parent_key))
        else:
            result[new_key] = value
    return result

nested_dict = {
    "road": {
        "name": "Highway 1",
        "length": 350,
        "sections": [
            {
                "id": 1,
                "condition": {
                    "pavement": "good",
                    "traffic": "moderate"
                }
            }
        ]
    }
}

flattened = flatten_dict(nested_dict)
print(flattened)

print()
print("{")
for key, value in flattened.items():
    print(f"{key}: {value}")
print("}")

{'road.name': 'Highway 1', 'road.length': 350, 'road.sections[0].id': 1, 'road.sections[0].condition.pavement': 'good', 'road.sections[0].condition.traffic': 'moderate'}

{
road.name: Highway 1
road.length: 350
road.sections[0].id: 1
road.sections[0].condition.pavement: good
road.sections[0].condition.traffic: moderate
}

# Question 4: Generate Unique Permutations

In [17]:
from itertools import permutations

def unique_permutations(nums):
    return list(map(list, set(permutations(nums))))

nums = [1, 1, 2]
result = unique_permutations(nums)
for p in result:
    print(p)

[1, 2, 1]
[2, 1, 1]
[1, 1, 2]

# Question 5: Find All Dates in a Text

In [18]:
import re

def find_all_dates(text):
    date_pattern = r'\b(\d{2}-\d{2}-\d{4}|\d{2}/\d{2}/\d{4}|\d{4}\.\d{2}\.\d{2})\b'
    matches = re.findall(date_pattern, text)  # Find all matches in the text
    return matches  

text = "I was born on 23-08-1994, my friend on 08/23/1994, and another one on 1994.08.23."
dates = find_all_dates(text)
print(dates)

['23-08-1994', '08/23/1994', '1994.08.23']

# Question 7: Matrix Rotation and Transformation

In [7]:
def rotate_and_transform(matrix):
    n = len(matrix)

    rotated = [[matrix[n - j - 1][i] for j in range(n)] for i in range(n)]

    row_sums = [sum(row) for row in rotated]
    col_sums = [sum(rotated[i][j] for i in range(n)) for j in range(n)]

    result = [[row_sums[i] + col_sums[j] - 2 * rotated[i][j] for j in range(n)] for i in range(n)]

    return result

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
result = rotate_and_transform(matrix)

for row in result:
    print(row)

[22, 19, 16]
[23, 20, 17]
[24, 21, 18]

# Question 8: Time Check

In [19]:
import pandas as pd

def map_weekday(day):
    days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    return pd.Timestamp('2023-01-01') + pd.Timedelta(days=days.index(day))

def check_completeness(df):
    df['start_datetime'] = pd.to_datetime(df['startDay'].apply(map_weekday).astype(str) + ' ' + df['startTime'])
    df['end_datetime'] = pd.to_datetime(df['endDay'].apply(map_weekday).astype(str) + ' ' + df['endTime'])

    results = []

    for (id_, id_2), group in df.groupby(['id', 'id_2'], as_index=False):
        start = group['start_datetime'].min()
        end = group['end_datetime'].max()
        is_complete = (end - start).total_seconds() >= 604800  # 7 days in seconds
        results.append([id_, id_2, is_complete])

    result_df = pd.DataFrame(results, columns=['id', 'id_2', 'is_complete'])
    return result_df

df = pd.read_csv('dataset-1.csv')
result = check_completeness(df)
result

           id     id_2  is_complete
0     1014000       -1        False
1     1014002       -1        False
2     1014003       -1        False
3     1030000       -1        False
4     1030000  1030002        False
...       ...      ...          ...
9249  1330016  1330006        False
9250  1330016  1330008        False
9251  1330016  1330010        False
9252  1330016  1330012        False
9253  1330016  1330014        False

[9254 rows x 3 columns]